.container {
  background-color: var(--color-white);
  max-width: 75rem;
  max-height: 50rem;
  margin: 10rem auto;
  padding: 2.5rem;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 2rem;

  @media (max-width: 26.5625em) {
    flex-direction: column-reverse;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 0;
    margin: 0;

    padding: 0;
  }
}

.closed {
  display: none;
  visibility: hidden;
  opacity: 0;
}
