.heading-main {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 1.5rem;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
  line-height: 1.1;
}
