:root {
  --color-primary: hsl(4, 100%, 67%);
  --color-secondary: hsl(234, 29%, 20%);
  --color-grey-dark: hsl(235, 18%, 26%);
  --color-grey-light-1: hsl(231, 7%, 60%);
  --color-grey-light-2: hsl(231, 7%, 80%);
  --color-white: hsl(0, 0%, 100%); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: var(--color-grey-dark);
  font-family: "Roboto", sans-serif; }

.container {
  background-color: var(--color-white);
  max-width: 85rem;
  margin: 10rem auto;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 2rem; }

.content {
  padding: 2rem;
  margin-bottom: 2rem;
  flex-basis: 50%; }
  .content__description {
    margin-bottom: 3rem; }

.heading-main {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 1.5rem; }

.details {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.5rem; }

.features {
  list-style: none;
  padding-left: 3.5rem; }
  .features__item {
    font-size: 1.6rem;
    position: relative; }
    .features__item:not(:last-of-type) {
      margin-bottom: 1rem; }
    .features__item::before {
      content: "";
      background-image: url("../images/icon-list.svg");
      height: 2.1rem;
      width: 2.1rem;
      position: absolute;
      top: 0;
      left: -3.5rem; }

.form__control {
  margin-bottom: 1.5rem; }
  .form__control-label {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-secondary);
    display: block;
    margin-bottom: 0.5rem; }
  .form__control-email {
    display: block;
    width: 100%;
    color: var(--color-grey-light-2);
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: 1px solid var(--color-grey-light-2);
    border-radius: 5px;
    cursor: pointer; }
    .form__control-email:focus {
      outline: none;
      color: var(--color-grey-dark);
      border: 1px solid var(--color-grey-dark); }
    .form__control-email::placeholder {
      color: var(--color-grey-light-2);
      font-family: inherit; }

.btn {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 700;
  width: 100%;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 5px; }

.signup-illustration__image {
  width: 100%;
  object-fit: center; }
